@model sbpc.Timesheet.Models.HourViewModel
@{

    var list = new SelectList(ViewBag.jobList, "Name", "Name");
    var jobList = (from l in list select new SelectListItem { Text = l.Text, Value = l.Value }).ToList();
    jobList.Add(new SelectListItem { Value = "", Text = "-- Select --", Selected = string.IsNullOrEmpty(Model.JobName) });
}
<div class="panel panel-primary">
    <div class="panel-heading"><i class="fa fa-edit"></i> <strong>Add/Edit Hour</strong></div>
    <div class="panel-body">
        <form asp-action="SaveHour" asp-controller="Timesheet" class="hour">
            @Html.HiddenFor(Model => Model.Id)
            <div class="form-group">
                <label class="control-label"><strong>Choose a Date:</strong></label>
                <input type="text" class="form-control" id="hourDate" name="Date" asp-for="Date" value="@Model.Date.ToString("MM/dd/yyyy")" readonly="readonly" />
            </div>
            <div class="form-group">
                <span class="control-label">Select Job:</span>
                @Html.DropDownListFor(model => model.JobName, jobList.OrderBy(x => x.Text), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <span class="control-label">Hours:</span>
                <input asp-for="Hours" class="form-control" placeholder="12.25" />
            </div>
            <div class="form-group">
                <label class="form-check-label">
                    <input type="checkbox" asp-for="IsTravel" class="form-check-input">
                    Travel?
                </label>
            </div>
            <div class="form-group">
                <span class="control-label">Note:</span>
                <input asp-for="Note" class="form-control" placeholder="Note" />
            </div>
            <div class="form-group">
                <button type="submit" id="submitHour" class="btn btn-primary" style="width:100px;"><i class="fa fa-save"></i> Save</button>
            </div>
        </form>
    </div>
</div>