################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
/sbpc.Timesheet.Data/Migrations/*
/sbpc.Timesheet/.vs/sbpc.Timesheet/v15/*
/sbpc.Timesheet/sbpc.Timesheet/bin/*
/sbpc.Timesheet/obj/*
/sbpc.Timesheet/bin/*
/sbpc.Timesheet.Data/bin
/sbpc.Timesheet.Data/obj
/sbpc.Timesheet/Properties/*
/sbpc.Timesheet/sbpc.Timesheet.csproj.user
/sbpc.Timesheet.Common
/.vs
/sbpc.Timesheet.Data/bin/Debug/netcoreapp2.0/sbpc.Timesheet.Data.deps.json
/sbpc.Timesheet.Data/obj/Debug/netcoreapp2.0/sbpc.Timesheet.Data.csproj.CoreCompileInputs.cache
/sbpc.Timesheet.Data/obj/Debug/netcoreapp2.0/sbpc.Timesheet.Data.csproj.FileListAbsolute.txt
/sbpc.Timesheet.Data/obj/Debug/netcoreapp2.0/sbpc.Timesheet.Data.csprojResolveAssemblyReference.cache
