################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sbpc.Timesheet/wwwroot/js
/sbpc.Timesheet/wwwroot/lib/jquery.notify
/sbpc.Timesheet/wwwroot/lib
/sbpc.Timesheet.Data/Migrations
