################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sbpc.Timesheet/wwwroot/js
/sbpc.Timesheet/wwwroot/lib/jquery.notify
/sbpc.Timesheet/wwwroot/lib
/sbpc.Timesheet.Data/Migrations
/sbpc.Timesheet/.vs/sbpc.Timesheet/v15
/sbpc.Timesheet/sbpc.Timesheet/bin
/sbpc.Timesheet/obj
/sbpc.Timesheet.Data/bin
/sbpc.Timesheet.Data/obj
