@model sbpc.Timesheet.Models.MileageViewModel

<div class="panel panel-primary">
    <div class="panel-heading"><i class="fa fa-edit"></i> <strong>Add/Edit Mileage</strong></div>
    <div class="panel-body">
        <form asp-action="SaveMileage" asp-controller="Timesheet" class="mileage">
            @Html.HiddenFor(Model => Model.Id)
            <div class="form-group">
                <label class="control-label"><strong>Choose a Date:</strong></label>
                <input type="text" class="form-control" id="mileageDate" name="Date" asp-for="Date" value="@Model.Date.ToString("MM/dd/yyyy")" readonly="readonly" />
            </div>
            <div class="form-group">
                <span class="control-label">Select Job:</span>
                @Html.DropDownListFor(model => model.JobName, new SelectList(ViewBag.jobList, "Name", "Name"), null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <span class="control-label">Miles:</span>
                <input asp-for="mile" class="form-control" placeholder="12.5" />
            </div>
            <div class="form-group">
                <span class="control-label">Note:</span>
                <input asp-for="Note" class="form-control" placeholder="Note" />
            </div>
            <div class="form-group">
                <button type="submit" id="submitMileage" class="btn btn-primary" style="width:100px;"><i class="fa fa-save"></i> Save</button>
            </div>
        </form>
    </div>
</div>