@model sbpc.Timesheet.Models.AccountViewModels.UserViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration
<div class="panel panel-primary">
    <div class="panel-heading"><i class="fa fa-edit"></i> <strong>Add/Edit Employee</strong></div>
    <div class="panel-body">
        <form asp-action="SaveUser" asp-controller="Admin" class="employee">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.UserName)
            @Html.HiddenFor(model => model.TempPassword)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="jdoe@company.com" readonly="@(!string.IsNullOrEmpty(Model.Email))" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" placeholder="Joe" />
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" placeholder="Doe" />
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone Number:</label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="123-345-6890" />
            </div>
            <div class="form-group savenotify">
                @if (Model.IsEnabled && _configuration.GetSection("Data:MasterAdmin").Get<string[]>().Contains(Model.UserName))
                {
                    <input type="hidden" asp-for="IsEnabled" />
                }
                else
                {
                    <label class="form-check-label">
                        <input type="checkbox" asp-for="IsEnabled" class="form-check-input">
                        Active
                    </label>
                }

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary" style="width: 100px;" name="save"><i class="fa fa-save fa-lg"></i> Save</button>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.Email) && !Model.TempPassword)
                    {
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-default" name="password"><i class="fa fa-chain fa-lg"></i> Reset Password</button>
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>
</div>