@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Timesheet Administration</h2>
<hr />
<div>
    <div class="row" style="padding: 30px 0 30px 0;">
        <div class="col-lg-2">
            @await Html.PartialAsync("_AdminNav")
        </div>
        <div class="col-lg-10">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

