@model sbpc.Timesheet.Models.AdminViewModels.JobViewModel

@{

    ViewData["Title"] = "Edit Job Info";
    ViewData.AddActivePage(AdminNavPages.EditJob);
}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary" style="border:none;">
            <div class="panel-heading"><h5><i class="fa fa-edit fa-lg"></i> @ViewData["Title"]</h5></div>
            <div class="panel-body">
                <form asp-action="EditJob">
                    @Html.Partial("_StatusMessage", Model.StatusMessage)
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="OverTimeRate" class="control-label"></label>
                        <input asp-for="OverTimeRate" class="form-control" />
                        <span asp-validation-for="OverTimeRate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CostPerMile" class="control-label"></label>
                        <input asp-for="CostPerMile" class="form-control" />
                        <span asp-validation-for="CostPerMile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" style="width:100px;"><i class="fa fa-save fa-lg"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
