@model IEnumerable<sbpc.Timesheet.Components.NavWidget.NavPage>
@using Microsoft.AspNetCore.Identity
@using sbpc.Timesheet.Data.Entity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav navbar-nav">
    @foreach (var page in Model)
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@(page.root) <span class="fa fa-caret-down"></span></a>
            <ul class="dropdown-menu">
                @foreach (var link in page.links)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@link.Value">@link.Key</a>
                    </li>
                    <li role="separator" class="divider"></li>
                }
             </ul>
        </li>
    }
</ul>
