@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @ViewData["Title"] <br />
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div class="row" style="padding:2px;">
            <div class="alert alert-info">
                <i class="fa fa-warning"></i> your new password should be at least 8 characters long, and contain both upper case and lower case letters as well as digits and special character.
            </div>
        </div>
        <form method="post">
            @Html.HiddenFor(model => model.TempPassword)
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
