@model string
@{
    ViewData["Title"] = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">
            @ViewData["Title"] <br />
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        @if (!String.IsNullOrEmpty(Model))
        {
            var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
            <div class="alert alert-@statusMessageClass">
                @Model
            </div>
            <div>
                <a href="@Url.Action("Index", "Timesheet")" class="btn btn-primary">Continue</a>
            </div>
        }
    </div>
</div>


