
@{
    ViewData["Title"] = "Timesheet Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="wait" class="modal" style="display:none; position:absolute; top:50%; left:50%;"><img src='~/images/pIkfp.gif' /></div>
<div class="row">
    <div class="col-lg-8">
        <h1 class="page-header">
            @ViewData["Title"] <br />
            <small>Add/update hours, expenses and mileage.</small>
        </h1>
    </div>
    <div class="col-lg-4 text-right notify"></div>
</div>
<div class="row alert alert-info"><i class="fa fa-info-circle"></i> please click on <strong>edit</strong> next to the corresponding record to start updating.</div>
@if (ViewBag.employeeList != null)
{
    <div class="row">
        <div class="col-md-3">
            <!--choose employee-->
            <div class="form-group">
                <label class="control-label"><strong>Enter timesheet for:</strong></label>
                @Html.DropDownList("userId", (List<SelectListItem>)ViewBag.employeeList, null, new { @class = "form-control" })
            </div>
        </div>
    </div>
}

<div id="TimesheetWidget">
    @await Component.InvokeAsync("TimesheetWidget", new { userName = ViewBag.currentUser, dateTime = ViewBag.date == null ? DateTime.Now : ViewBag.date })
</div>

@section scripts
    {
    <script src="~/js/users-timesheet.js"></script>
}
