@using Microsoft.AspNetCore.Identity
@using sbpc.Timesheet.Data.Entity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <a class="navbar-brand" href="/">SBP Timesheet</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="navbar-collapse collapse">
        @if (SignInManager.IsSignedIn(User))
        {
            @await Component.InvokeAsync("NavWidget", UserManager.GetUserName(User))
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="form-inline">
                <div style="padding-right: 30px;">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <span title="Manage" style="color:white; ">Hello @UserManager.GetUserName(User)!</span>
                        </li>
                        <li>
                            <button type="submit" class="btn btn-link navbar-btn navbar-link" style="color:white; ">Log out</button>
                        </li>
                    </ul>
                </div>
            </form>
        }
        else
        {
            <div style="padding-right: 30px;">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Account" asp-action="Login" style="color:white; ">Log in</a></li>
                </ul>
            </div>
        }
    </div>
</nav>
<br/>